div :hover{
background-color: teal;}

#primária h3{ 
background-color:yellow ;
font-family: monospace ;

}
#Secundária h3{ 
background-color:green ;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Complementar h3{
background-color:plum;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 70px;
}
#Escura h3{
background-color:saddlebrown ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Clara h3{
background-color:turquoise ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}