body{
    text-align: center;
}
main {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background-color: aqua;
    height: 300px;
}
#printPokemons{
    margin-top: 10px;
}
#pokeImages{
    margin-top: 20px;

}

#pokemons {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    margin-top: 60px;
}
button{
    margin: 50px 20px;
    height: 30px;
}
form div {
    display: flex;
    flex-direction: column;
    height: 200px;
    ;
}

input {
    margin: 8px;
}
label{
    margin: 9px;
}

section {
    background-color: azure;
    color: black;
    height: 20px;
}

.fase1, .fase2, .fase3 {
    display: none;
}

.faseSelected {
    width: 200px;
    height: 200px;
    margin: 0, 10px;
}